Repository 1ndistinct/webscraper: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, pylint

ruff:
  name: ruff (via local venv)
  entry: uv run ruff check --fix
  language: system

mypy:
  name: mypy (via local venv)
  entry: uv run mypy --check-untyped-defs
  language: system

pylint:
  name: pylint (via local venv)
  entry: uv run pylint
  language: system

fix ci and linting
  .github/workflows/pipeline.yaml
  tests/test_scraper.py
Due: ruff

make logic more efficient
  .env.template
  README.md
  pyproject.toml
  tests/conftest.py
  tests/mocks/site.py
  tests/mocks/templates/finalpage.html
  tests/mocks/templates/homepage.html
  tests/test_scraper.py
  webscraper/definitions.py
  webscraper/scraper.py
  webscraper/settings.py
  webscraper/utils.py
Due: ruff, mypy, pylint

add additional retry logic to account for rate limitting
  .env.template
  tests/conftest.py
  tests/mocks/site.py
  tests/test_scraper.py
  webscraper/settings.py
  webscraper/utils.py
Due: ruff, mypy, pylint

fix retry logic
  .env.template
  tests/test_scraper.py
  webscraper/settings.py
  webscraper/utils.py
Due: ruff, mypy, pylint

remove retry after
  webscraper/utils.py
Due: ruff, mypy, pylint

adjust jitter
  .env.template
Due: none

Path conditions:
  ruff: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
  pylint: any of: \.py$, but not: ^tests/
